<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Forget Password</h2>
  
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <small *ngIf="email?.errors?.['required']">Email is required.</small>
        <small *ngIf="email?.errors?.['email']">Enter a valid email.</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
    <div>
      <a [routerLink]=" '/login' ">Login?</a>
    </div>
  </form>
  